/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h2{
    color: #D9B99F;
    margin-top: 10px;
}
header, footer {
    background-color: #447F6D; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Header Styles */
header {
    background-color: #77AA99;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-content h1 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.2;
}
/*IT IS OKY, DO NOT CHANGE*/


/* Navigation Styles */
nav {
    background-color: #444;
    padding: 10px 0;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
}

nav .nav-links li {
    margin: 0;
}

nav .nav-links a {
    text-decoration: none;
    color: #FFEE00; 
}

nav .nav-links a:hover {
    color: #FFD700; 
}



.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.section-table {
    border-collapse: collapse;
    background: #f8f8f8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#about-me {
    width: 60%; 
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 7fr ;
    background-color: white;
    height: 600px;
    border: .5px solid #77AA99;
    
}
.title{
    grid-column: 1/4;
    grid-row: 1/2;
    background: #BAE0DA;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.2em;
    margin-top: 0px;
    height: 50px;
    border-bottom: 3px solid #77AA99;
    
}
#info {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 10px;
    padding: 15px;
    color: #333; 
}

#place{
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 15px;
    text-align: center;
    text-decoration: underline;

}
#mexico{
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 15px;
}
#mexico-photo{
    grid-column: 1/2;
    grid-row: 4/5;
    max-width: 200px;
    min-width: 180px;
    
}
#me-photo{
    grid-column: 3/4;
    grid-row: 2/5;
    margin-top: 15px;
    max-width: 200px;
    min-width: 180px;
    
    
}

.web-dev-resources-table {
    width: 40%; 
    border-collapse: collapse;

}

/* Títulos de las tablas */
#web-dev {
    background-color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    width: 40%; 
    height: 600px;
    margin-bottom: 10px;
    border: .5px solid #77AA99;

}
.ul-resources{
    margin-top: 150px;
    text-align: center;
    padding-left: 10px;
    list-style-position: inside;
}
.about-text{
padding: 20px;
}



.location {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}
footer{
    background-color: #77AA99;
}
